# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data / artifacts (если большие/локальные)
data/
*.csv
*.parquet

# Logs
*.log

# OS (Windows)
Thumbs.db
